.container{
    background-color: #1c1c1c;
    height: 100%;
    width: 100%;
}
    

.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    align-items: center;
    padding-top: 14%;
}