.dialogContainer{
    width: 100%;
    height: 100%;
    background-color: #000000c2;
    justify-content: center;
    align-items: center;
}
  
.botCont{
    flex-direction: row;
    margin-top: 20px;
    margin-right: 10px;
}
  
.cancelar{
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
}
  
.aceptar{
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
}
  
.cancelarImg{
    width: 20px;
    height: 20px;
}

.guardarImg{
    width: 30px;
    height: 30px;
}

.dialog{
    align-items: center;
    width: 302px;
    height: 38%;
    background-color: #1a1a1a;
    overflow: hidden;
    border-radius: 30px;
}

.touchable{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}


.price {
    margin-top: 7%;
    align-items: center;
    width: 248px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 28px;
}


.itemname{
    margin-top: 4%;
    width: 248px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10;
    border-radius: 28px;
}

.textContainer{
    align-items: center;
    margin-top: 7%;
}

.new_spending {
    align-items: center;
    color: aliceblue;
}


.foodicon{
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
    border-style: solid;
    border-color: rgb(80, 246, 255);
}

.gasicon{
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
    border-style: solid;
    border-color: rgb(80, 246, 255);
}

._icon{
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
    border-style: solid;
    border-color: rgb(80, 246, 255);
}

.plusicon{
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
    border-style: solid;
    border-color: rgb(80, 246, 255);
}

.iconContainer{
    flex-direction: row;
    margin-top: 20px;
}



.icon{


    width: 45px;
    height: 45px;

}

.icon2{


    width: 30px;
    height: 30px;

}

.input{
    color: white;
    align-items: center;
    text-align: center;
    width: 100%;
}

.priceError{
    color: rgba(255, 0, 0, 0.669);
    position: absolute;
    top: 40px
}

.emptyError{
    color: rgba(255, 0, 0, 0.669);
    position: absolute;
    top: 464px
}