.dialogContainer{
    width: 100%;
    height: 100%;
    background-color: #000000c2;
    justify-content: center;
    align-items: center;
}
  
.botCont{
    flex-direction: row;
    margin-top: 20px;
}
  
.cancelar{
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
}
  
.aceptar{
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #404040;
    overflow: hidden;
    border-radius: 28px;
}
  
.cancelarImg{
    width: 20px;
    height: 20px;
}

.guardarImg{
    width: 30px;
    height: 30px;
}

.dialog{
    width: 302px;
    height: 305px;
    background-color: #1a1a1a;
    overflow: hidden;
    border-radius: 30px;
}

.touchable{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}